<h1>Dragon Ball Z</h1>
<hr>

<div class="row">
    <div class="col">
      <app-personajes [personajesChild]="arrPersonajes"></app-personajes>
    </div>
    <div class="col">
        <h3>Agregar</h3>
        <hr>
        <form (ngSubmit)="agregarPersonaje()" >
            <input
              [(ngModel)]="nuevoPersonaje.nombre"
              type="text"
              name="nombre"
              placeholder="Nombre" >

            <input
              [(ngModel)]="nuevoPersonaje.poder"
              type="number"
              name="poder"
              placeholder="Poder" >

            <button type="submit" class="add">Agregar</button>
        </form>
    </div>

</div>

